*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
::-moz-selection {
    color: red;
    background: #FFE728;
}
::selection {
    color: red;
    background: #FFE728;
}
html, body{
    height:100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
/*Fonts*/
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Black.ttf");
    font-weight: 900;
}

header {
    background: transparent;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
    -webkit-transition: .3s;
    transition: .3s;
    height: 75px;
    top: 30px;
}
/*Slick Nav starts*/
.slicknav_menu {
    background: #333;
    display: none;
}
.slicknav_nav li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
}
.slicknav_menu a {
    color: #fff;
}
.slicknav_nav a{
    -webkit-transition:.3s;
    transition: .3s;
}
.slicknav_nav a:hover{
    color: #fab1a0;
    text-decoration: none;
}
/*Slick Nav for mobile*/
/*particles js*/
#particles-js {
    width: 100%;
    height: 100%;
}
/*particles js ends*/
.sticky {
    background: rgba(33, 33, 33, 0.8);
    top: 0;
}
.logo {
    position: relative;
    padding-top: 15px;
}
.logo a {
    font-size: 30px;
    color: #fff;
    -webkit-transition:.3s;
    transition: .3s;
}
.logo a:hover {
    text-decoration: none;
    color: #fab1a0;
}
nav {
    float: right;
    padding: 15px 0px;
}
nav ul{
    display: block;
}
nav ul li{
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a {
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 400;
    -webkit-transition:.3s;
    transition: .3s;
}
nav ul li a:hover{
    text-decoration: none;
    color: #fab1a0;
}
/*Header ends*/
/*progress bars*/
.progress {
    border-radius: 25px;
    margin-bottom: 20px;
}
/*progress bar ends*/
.btn.btn-success {
    background: transparent;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    z-index: 1;
    text-transform: capitalize;
    font-weight: 700;
    overflow: hidden;
    padding: 10px 40px;
}
.btn.btn-success:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: -1;
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: -webkit-linear-gradient(left, #4CA1AF, #2C3E50);
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
}
.btn-success:hover {
    border-color: transparent;
}
.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 .2rem #2c3e50;
}
.btn.btn-success:hover:before{
    top: 0;
    left: 0;
}


.home_content .btn-success, #contact .btn-success {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-success {
    color: #000;
    background-color: #28a745;
    border-color: #000;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

.section-title, #contact .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    position: relative;
}
.section-title h1, #contact .section-title h1 {
    font-weight: 600;
    color: #2c3e50;
}
.section-title h1 span, #contact .section-title h1 span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    font-weight: 800;
    font-size: 75px;
    color: #ddd;
    z-index: -1;
}


/*Main css Starts*/
#home{
    background-image: url('../img/my/bg1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}
#home:before {
    position: absolute;
    content: '';
    opacity: 0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
.home_content.text-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 100%;
}
.home_content p {
    font-size: 35px;
    color: #fff;
}
.home_content h2 {
    font-size: 55px;
    color: #fff;
}

.about_img img {
    width: 100%;
    border-radius: 0 65px;
}
.about_content h2 {
    text-transform: capitalize;
}
.about_content h2 span {
    color: #273c75;
    font-weight: 700;
}
.contact-link li {
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contact-link li a {
    color: #fff;
}
.contact-link li .fa-facebook-f {
    background-color: #4267b2;
    width: 100%;
    height: 100%;
    -webkit-transition:.3s;
    transition: .3s;
    text-align: center;
    border-radius: 50%;
    padding: 7px;
}
.contact-link li .fa-google-plus-g {
    background-color: #DD4D42;
    width: 100%;
    height: 100%;
    -webkit-transition:.3s;
    transition: .3s;
    text-align: center;
    border-radius: 50%;
    padding: 7px;
}
.contact-link li .fa-twitter {
    background-color: #1DA1F2;
    width: 100%;
    height: 100%;
    -webkit-transition:.3s;
    transition: .3s;
    text-align: center;
    border-radius: 50%;
    padding: 7px;
}
.contact-link li .fa-linkedin-in {
    background-color: #0274B3;
    width: 100%;
    height: 100%;
    -webkit-transition:.3s;
    transition: .3s;
    text-align: center;
    border-radius: 50%;
    padding: 7px;
}
.contact-link li .fa-facebook-f:hover{
    color: #4267b2;
    background-color: #fff;
}
.contact-link li .fa-google-plus-g:hover{
    color: #DD4D42;
    background-color: #fff;
}
.contact-link li .fa-twitter:hover{
    color: #1DA1F2;
    background-color: #fff;
}
.contact-link li .fa-linkedin-in:hover{
    color: #1DA1F2;
    background-color: #fff;
}
.contact-details ul li a {
    -webkit-transition:.3s;
    transition: .3s;
}
.contact-details ul li a:hover {
    color: #fab1a0;
    text-decoration: none;
}
#services{
    background: #eee;
}
.single_services {
    background: #fff;
    height: 300px;
    margin-bottom: 35px;
    border-radius: 10px;
    padding: 40px;
    overflow: hidden;
    -webkit-transition:.3s;
    transition: .3s;
    position: relative;
}
.single_services:hover {
    box-shadow: 1px 1px 6px -1px #000;
}
.single_services i {
    font-size: 40px;
}
.shadow_text {
    font-weight: 700;
    font-size: 35px;
    color: #ddd;
}
.single_services:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
    -webkit-transition:.3s;
    transition: .3s;
}

.single_services:hover:before {
    left: 0;
    -webkit-transition:.3s;
    transition: .3s;
}
.skill_name p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.certifications {
    background: #eee;
    padding: 40px;
    border-radius: 30px 0;
    margin-bottom: 35px;
}
.certifications h5 i {
    font-size: 40px;
    color: #95a5a6;
    padding-right: 15px;
}
.certifications h5 span {
    font-size: 35px;
    color: #2c3e50;
    font-weight: 800;
}
.certifications p {
    font-size: 17px;
    font-weight: 300;
    color: #2c3e50;
}
.work_img {
    position: relative;
    transition: .3s;
}
.work_img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition: .3s;
    transform: scale(0);
    visibility: hidden;
}
.work_img a:hover {
    text-decoration: none;
    color: #fab1a0;
}
.work_img img {
    display: block;
    width: 100%;
    margin: 15px 0 10px 0;
}
.work_img:hover:before{
    transform: scale(1);
    visibility: visible;
}
.work_img a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-size: ;
    font-weight: 700;
    color: #fff;
    transform: scale(0);
    visibility: hidden;
    transition: .3s;
}
.work_img:hover a {
    transform: scale(1);
    visibility: visible;
    transform: translate(-50%, -50%);
}
#contact {
    background-image: url('../img/my/bg3.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    z-index: 1;
}
#contact:before {
    position: absolute;
    content: '';
    opacity: 0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
#contact .section-title h1 {
    color: #fff;
}
#contact .section-title h1 span {
    color: #000428;
}
.form-control {
    background: transparent;
    border-style: none;
    border-bottom: 1px dashed #fff;
    margin-bottom: 30px;
}
#contact .btn-success{
    color: #fff
}
footer, #contact::before, .progress-bar, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle, #home::before, .single_services:before, .work_img:before {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: -webkit-linear-gradient(left, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
 
}
footer p {
    color: #fff;
    padding-top: 20px;
    text-transform: capitalize;
    font-weight: 100;
}

